$margin-down: .6rem;

.navbar {
  background: $body-text;
  color: $general-links;
  padding: .5rem;
  position: fixed;
  max-height: 2.8rem;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;

  a {
    color: $general-links;
    display: inline-flex;
    text-decoration: none;
  }
  
  .header {
    float: left;
    margin: $margin-down 0 0 3rem;

    .title {
      color: $general-links;
      font-size: 1.3rem;

      .dark {
        color: $dark-gray-for-settings;
      }

      .light {
        color: $general-links;
      }

      .title-text {
        margin-left: 1rem;
      }
      
    }
  }

  .logo-pic {//81D1BD B3B6BD
    height: 1.7rem;
    width: auto;
  }

  .right-side {
    display: inline-flex;
    float: right;
    margin: $margin-down - .1rem;

    .dropdown {
      background: $light-gray;
      border-radius: .2rem;
      color: $general-links;
      position: absolute;
      right: 3rem;
      top: 3.5rem;

      a {
        color: $dark-gray;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          border-bottom: .1rem solid $general-links;
          padding: .3rem 1rem .3rem 1rem;
        }

        .last-li-item {
          border: 0;
        }
      }
    }

    .pic-and-dropdown {
      width: 4rem;
      height: 3rem;
    }

    .popover-button {
      cursor: pointer;
      height: 1.7rem;
      margin-right: 1rem;
    }

    .profile-pic {
      @include profilePic();
      cursor: pointer;
    }

    .search-input {
      // background: $body-text;
      background: url(../assets/images/addSpeachBubble_coloured.png) no-repeat scroll .5rem .5rem;
      background-position: right center;
      background-size: 1rem 1rem;
      border: .1rem $dark-gray solid;
      border-radius: .2rem;
      color: $general-links;
      height: 1.7rem;
      padding-left: .5rem;
      margin-right: 1rem;
      width: 11rem;

      &:focus {
        outline: 0;
      }

      @media (max-width: $break-point-small) {
        display: none; // hide when small enough screen
      }
    }
  }
  
}