$margin-down: .6rem;

.navbar {
  background: $body-text;
  color: $general-links;
  padding: .5rem;
  position: fixed;
  max-height: 2.8rem;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;

  a {
    color: $general-links;
    display: inline-flex;
    text-decoration: none;
  }
  
  .header {
    float: left;
    margin: $margin-down 0 0 4rem;

    .title {
      color: $general-links;
      font-size: 1.3rem;

      .dark {
        color: $dark-gray-for-settings;
      }

      .light {
        color: $general-links;
      }

      .title-text {
        font-size: 1.2rem;
        margin: .3rem 0 0 1rem;
      }
      
    }
  }

  .logo-pic {//81D1BD B3B6BD
    height: 1.6rem;
    width: auto;
  }

  .right-side {
    float: right;
    margin: $margin-down - .1rem 3rem $margin-down - .1rem $margin-down - .1rem;

    .dropdown {
      background: $light-gray;
      border-radius: .2rem;
      color: $general-links;
      position: absolute;
      right: 3rem;
      top: 3.5rem;
      z-index: 9999

      a {
        color: $dark-gray;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          border-bottom: .1rem solid $general-links;
          padding: .3rem 1rem .3rem 1rem;
        }

        .last-li-item {
          border: 0;
        }
      }
    }

    .flexbox .pic-and-dropdown {
      width: 4rem;
      height: 3rem;
    }

    .popover-button {
      cursor: pointer;
      height: 1.6rem;
      margin: .2rem 1.6rem 0 0;
    }

    .profile-pic {
      @include profilePic();
      cursor: pointer;
    }

    .search-input {
      background: url(../assets/images/search-icon.png) no-repeat scroll;
      background-position: 11rem;
      background-size: 1rem 1rem;
      border: .1rem $dark-gray solid;
      border-radius: .2rem;
      color: $general-links;
      height: 1.7rem;
      padding: 0 1.5rem 0 .5rem;
      margin-right: 1rem;
      width: 10.5rem;

      &:focus {
        outline: 0;
      }

      @media (max-width: $break-point-small) {
        display: none; // hide when small enough screen
      }
    }
  }
  
}

.no-flexbox .right-side {
  display: inline;
}

.flexbox .right-side {
  display: inline-flex;
}

.no-flexbox .pic-and-dropdown {
  display: inline;
}