<div class="home">

  <div>
    <simply-social-navbar></simply-social-navbar>
  </div>

  <div class="big-image">
  	<post-create></post-create>

    <div class="filters">
      <button ng-click="main.filter = 0" ng-class="{'selected' : main.filter == 0}">ALL POSTS</button>
      <button ng-click="main.filter = 1" ng-class="{'selected' : main.filter == 1}">PHOTOS</button>
      <button ng-click="main.filter = 2" ng-class="{'selected' : main.filter == 2}">VIDEOS</button>
    </div>
    
  </div>
  
  <div class="posts">
    <post ng-repeat="post in main.posts.data | filterPosts: main.filter" data="post"></post>
  </div>
  

</div>
