<div class="home">

  <div>
    <simply-social-navbar></simply-social-navbar>
  </div>
    
  <div class="big-image">
    <img src="assets/images/header-bg.png" class="scrollable-header-image">    
  	<post-create></post-create>

    <div class="filters">
      <button ng-click="main.filter = 0" ng-class="{'selected' : main.filter == 0}">ALL POSTS</button>
      <button ng-click="main.filter = 1" ng-class="{'selected' : main.filter == 1}">PHOTOS</button>
      <button ng-click="main.filter = 2" ng-class="{'selected' : main.filter == 2}">VIDEOS</button>
      <span class="options">
        <img src="assets/images/list.png" ng-if="main.showGridOption" ng-click="main.grid = false">
        <img src="assets/images/grid.png" ng-if="main.showGridOption" ng-click="main.createGrid()">
      </span>
        
    </div>
    
  </div>
  
  <div class="posts" ng-if="!main.grid">
    <post ng-repeat="post in main.posts.data | filterPosts: main.filter" data="post" grid="false"></post>
  </div>

  <div class="posts-grid" ng-if="main.grid">
    <div class="column">
      <post ng-repeat="post in main.leftColumn | filterPosts: main.filter" data="post" grid="true"></post>
    </div>
    <div class="column">
      <post ng-repeat="post in main.middleColumn | filterPosts: main.filter" data="post" grid="true"></post>
    </div>
    <div class="column">
      <post ng-repeat="post in main.rightColumn | filterPosts: main.filter" data="post" grid="true"></post>
    </div>
    
  </div>

</div>
