$light-gray: #F3F4F6;
$general-links: #C8CED5;
$icon-colors: #BEC3CC;
$dark-gray: #3D3E43;
$body-text: #262728; //black
$secondary-links: #00CC99;

$break-point-small: 550px;

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

body {
	margin: 0;
	padding: 0;
	color: $body-text;
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
