$light-gray: #F3F4F6;
$general-links: #C8CED5;
$icon-colors: #BEC3CC;
$dark-gray: #3D3E43;
$post-font-gray: #a9adb2;
$post-display-name: #3f454d;
$body-text: #262728; //black
$secondary-links: #00CC99; //light green
$main-text-input: #00B286;
$white: #fff;

$break-point-small: 550px;

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

body {
  margin: 0;
  padding: 3.8rem 0 0 0;
  color: $body-text;
  font-family: ProximaNova-Regular;
}

@font-face {
  font-family: ProximaNova-Regular;
  src: url(../assets/fonts/ProximaNova-Regular.otf);
}

@font-face {
  font-family: ProximaNova-Light;
  src: url(../assets/fonts/ProximaNova-Light.otf);
}

@mixin profilePic {
  border-radius: .2rem;
  height: 2rem;
  margin-right: 3rem;
  min-width: 2rem;
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
