$light-gray: #F3F4F6;
$general-links: #C8CED5; // darker gray
$icon-colors: #BEC3CC; // darker gray
$dark-gray: #3D3E43;
$post-font-gray: #a9adb2; // gray for post fonts
$dark-gray-for-settings: #444B54;
$light-gray-for-settings: #858A91;
$post-display-name: #3f454d; // even darker
$body-text: #262728; //black
$secondary-links: #00CC99; //light green
$main-text-input: #00B286; //dark green
$white: #fff;
$red: #F44336;

$break-point-small: 550px;

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

body {
  margin: 0;
  padding: 3.8rem 0 0 0;
  color: $body-text;
  font-family: ProximaNova-Regular;
}

@font-face {
  font-family: ProximaNova-Regular;
  src: url(../assets/fonts/ProximaNova-Regular.otf);
}

@font-face {
  font-family: ProximaNova-Light;
  src: url(../assets/fonts/ProximaNova-Light.otf);
}

@mixin profilePic {
  border-radius: .2rem;
  height: 2rem;
  margin-right: 3rem;
  min-width: 2rem;
}

.btn {
  background: $main-text-input;
  border: 0;
  border-radius: .2rem;
  color: white;
  font-size: 1rem;
  padding: .6rem 1.4rem .6rem 1.4rem;
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
