.posts {
  margin: 2rem auto 0 auto;
  width: 35rem;

  .post {
    border: .1rem solid $general-links;
    border-radius: .2rem;
    display: inline-flex;
    margin-bottom: 2rem;
    padding: 1rem;
    width: 35rem;

    .profile-pic {
      @include profilePic();
    }

    a {
      color: gray;
      text-decoration: none;
    }

    .at-mention {
      color: gray;
    } 
  }
}
  

.home-create {
  padding-top: 7rem;

  ::-webkit-input-placeholder {
   color: $light-gray;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $light-gray;  
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: $light-gray;  
  }

  :-ms-input-placeholder {  
    color: $light-gray;  
  }

  .create-input {
    border: 0;
    background: $main-text-input;
    color: $light-gray;
    font-size: 2rem;
    height: 4rem;
    margin: 3rem 0 0 1rem;
    width: 92%;

    &:focus {
      outline: 0;
    }
  }

  form {
    background: $main-text-input;
    border-radius: .2rem;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
    opacity: .7;
    width: 35rem;

    @media (max-width: $break-point-small) {
      width: 15rem;
    }
  }
    
}