.posts {
  margin: 2rem auto 0 auto;
  width: 35rem;

  @media (max-width: $break-point-small) {
    width: 15rem;
  }

  .post {
    border: .1rem solid $general-links;
    border-radius: .2rem;
    position: relative;
    margin-bottom: 2rem;
    padding: 1rem;
    width: 35rem;

    a {
      color: $general-links;
      text-decoration: none;
    }

    .at-mention {
      color: $general-links;
    }

    .bottom-items {
      margin: 1rem 0 .5rem 0;
    }

    .displayName {
      font-weight: 700;
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }

    .expand-collapse {
      background: transparent;
      border: 0;
      color: $general-links;
      cursor: pointer;
      font-size: .8rem;
      margin-left: 4.5rem;
      padding: 0;

      &:focus {
        outline: 0;
      }
    }

    .no-replies-bottom-items {
      margin: 1rem 0 1.5rem 0;
    }

    .pull-right-bottom-items {
      color: $general-links;
      float: right;
    }

    .profile-pic {
      border-radius: .2rem;
      height: 2.5rem;
      margin: 0 1rem 0 1rem;
      min-width: 2.5rem;
    }

    .replies {
      background: $light-gray;
      margin: 0 -1rem 0 -1rem;
      padding: 1rem;

      .reply {
        margin-bottom: 1rem;
      }
    }

    .reply-section {
      background: $light-gray;
      margin: -1rem;
      padding: 0 1rem 1rem 1rem;

      .reply-box {
        border: .1rem solid $general-links;
        border-radius: .2rem;
        height: 2rem;
        font-size: 1rem;
        padding-left: .5rem;
        width: 98%;
      }
    }

    .reply-section.no-replies-reply-section {
      padding-top: 1rem;
    }

    .top-items {
      display: inline-flex;
    }

    @media (max-width: $break-point-small) {
      width: 15rem;
    }
  }
}
  

.home-create {
  padding-top: 7rem;

  ::-webkit-input-placeholder {
   color: $light-gray;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $light-gray;  
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: $light-gray;  
  }

  :-ms-input-placeholder {  
    color: $light-gray;  
  }

  .create-input {
    border: 0;
    background: $main-text-input;
    color: $light-gray;
    font-size: 2rem;
    height: 4rem;
    margin: 3rem 0 0 1rem;
    width: 92%;

    &:focus {
      outline: 0;
    }
  }

  form {
    background: $main-text-input;
    border-radius: .2rem;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
    opacity: .7;
    width: 35rem;

    @media (max-width: $break-point-small) {
      width: 15rem;
    }
  }
    
}