<div class="post">

  <div class="top-items">
    <img src="assets/images/profile_pic.png" class="profile-pic">

    <div class="data">
      {{post.data.displayName}}
      <div ng-bind-html="post.data.message"></div>
    </div>
  </div>

  <div class="bottom-items">
    <button class="expand-collapse" ng-click="post.expandCollapse()">
      <span ng-if="post.isExpanded">Collapse</span>
      <span ng-if="!post.isExpanded">Expand</span>
    </button>
    <span class="pull-right-bottom-items">
      <span class="timestamp">{{post.data.relativeTime}}</span>
    </span>
    
  </div>
    
  <!-- this is if there are replies to show -->
  <div class="replies" ng-if="post.data.replies.length > 0 && post.isExpanded">
    <div ng-repeat="reply in post.data.replies">
      {{reply.displayName}} | {{reply.relativeTime}}
      <div ng-bind-html="reply.message"></div>  
    </div>
  </div>

  <div class="reply-section" ng-if="post.isExpanded">
    <input type="text" ng-model="post.replyMessage">
    <button ng-click="post.reply()">Reply</button>
  </div>
    
  </div>
    
    
</div>
<br>